* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
ul li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url(fonts/IBMPlexMono-Regular.ttf);
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  flex: 1 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 110px;
  background-color: white;
}

.header_logo {
  width: 100%;
  max-width: 212px;
  margin-left: 143px;
}

.header_navigation {
  width: 272px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
  margin-right: 157px;
}

.header_navigation_list {
  display: flex;
  column-gap: 24px;
}

.header_navigation_social {
  color: #000;
  font-family: "Anonymous Pro";
  font-size: 20px;
  font-weight: 700;
  max-height: 20px;
}

.header_line {
  width: 100%;
  max-width: 1440px;
  height: 1px;
  background-color: #A1A6B4;
}

.content {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: auto;
  flex: 1 0 auto;
}

.div-h2 {
  width: 100%;
  max-width: 1160px;
  display: flex;
  justify-content: left;
}

h2 {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: #121723;
  margin-top: 25px;
  margin-bottom: 24px;
}

.content_cards {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1160px;
  width: 100%;
  margin-bottom: 30px;
}

.card {
	display: inline-block;
  width: 370px;
  border-radius: 12px;
  background-color: white;
  transition: all 300ms ease-in-out;
}

.card:hover {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: translateY(-5px);
}

.container_image {
    width: 100%;
    height: 100%;
    max-height: 254px;
    object-fit: contain;
    object-position: center;
    border-radius: 12px;
}

.container_text_wrap {
  width: 370px;
  padding: 32px 24px;
  align-items: center;
  gap: 10px;
}

.container_title {
  font-family: "Anonymous Pro", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #121723;
  padding-top: 32px; 
  min-height: 84px;
}

.container_text {
  font-family: "Anonymous Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #121723;
  padding-top: 10px;
}

footer {
  width: 100%;
  max-width: 1440px;
  height: 142px;
  background-color: #121723;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_logo {
  width: 299.653px;
  height: 22.32px;
  margin-top: 32px;
}

.footer_navigation {
  width: 272px;
  height: 23px;
  margin-top: 32px;
}

.footer_navigation_list {
  display: flex;
  gap: 24px;
}

.footer_navigation_social {
  color: white;
  font-family: "Anonymous Pro";
  font-size: 20px;
}

.footer_line {
  width: 100%;
  max-width: 1160px;
  height: 1px;
  background-color: #E6E8EC;
  margin-top: 33px;
  opacity: 0.4;
}

.copy {
  font-family: "Anonymous Pro", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #A1A6B4;
  margin-top: 18px;
}

.detail-content {
  width: 100%;
  max-width: 1440px;
  height: auto;
  background-color: #F1F1F1;
  display: flex;
  padding: 0px 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.detail-content-card {
  display: flex;
  width: 100%;
  max-width: 1140px;
  padding: 48px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 50px;
  background-color: white;
  margin: 32px 0;
}

.detail-content-card-foto {
  width: 100%;
  max-width: 1140px;
}

.detail-content-foto {
  width: 100%;
  max-width: 1140px;
}

.detail-content-card-text {
  width: 100%;
  max-width: 1044px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

h1 {
  color: #121723;
  font-family: "Anonymous Pro";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}

h4 {
  color: #121723;
  font-family: "Anonymous Pro";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}

.detail-content-card-detail {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  gap: 32px;
}

.detail-content-card-text-description {
  color: #121723;
  font-family: "Anonymous Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 45%;
  width: 506px;
}

.detail-content-card-text-parameters {
  width: 45%;
  max-width: 506px;
  height: 258px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

h5 {
  color: #121723;
  font-family: "Anonymous Pro";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.detail-content-card-text-parameter {
  width: auto;
  max-width: 506px;
  height: 45px;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  justify-content: space-between;
}

.parameter-title {
  color: #121723;
  font-family: "Anonymous Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.parameter-value {
  color: #121723;
  text-align: right;
  font-family: "Anonymous Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.parameter-line {
  width: auto;
  height: 1px;
  background-color: #bdbdbd;
  align-self: stretch;
  padding: 1px 0;
}

@media screen and (max-width: 1170px) {
  .div-h2 {
    justify-content: center;
  }
  .header_logo,
  .header_navigation {
    margin: 0;
  }
  .header {
    padding: 0 30px;
  }
  .footer {
    padding: 0 30px;
  }
}

@media screen and (max-width: 765px) {
  .header {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin: 24px 0;
  }
  .header_logo,
  .header_navigation {
    margin: 0;
  }
  .detail-content {
    padding-left: 16px;
    padding-right: 16px;
  }
  .detail-content-card {
    border-radius: 12px;
    padding: 24px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h4 {
    font-size: 30px;
  }
  .detail-content-card-detail {
    flex-wrap: wrap;
    justify-content: center;
  }
  .detail-content-card-text-description,
  .parameter-title,
  .parameter-value {
font-size: 16px;
  }
  footer {
    height: 195px;
  }
  .footer {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
  }
  .header_logo,
  .header_navigation {
    margin: 0;
    gap: 24px;

  }
  h2 {
    font-size: 32px;
    padding: 0 16px;
  }
  .card {
    width: 343px;
    height: auto;
  }
}